<div class="banner-home mb-2 mb-md-5">
    <div class="container white-text pt-3 pt-md-5">
        <div class="row" style="position:absolute;">
            <div class="col-md-3">
                <img src="/assets/eu.jpg" class="img-fluid rounded z-depth-3 d-none d-md-block animated bounceInDown delay-1s">
            </div>
            <div class="col-md-9">
                <div class="d-block w-100">
                    <div class="typewriter float-left">
                        <h3 class="personal-profile__name typewriter">{{ site.title }}</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="text-banner-home animated lightSpeedIn delay-1s d-block">
                    <p class="personal-profile__work">Desenvolvedor: Front/Back/Mobile/<small>(Infra compiling ...)</small></p>
                    <div class="personal-profile__contacts">
                        <dl class="contact-list contact-list__opacity-titles">
                            <dt>Idade:</dt>
                            <dd>31</dd>
                            <dt>Email:</dt>
                            <dd><a href="mailto:{{ site.email }}">{{ site.email }}</a></dd>
                            <dt>Cidade:</dt>
                            <dd>Maricá - Rio de Janeiro</dd>
                        </dl>
                    </div>
                    <p style=" margin-bottom: 8px; position: relative; top: -10px;" class="personal-profile__social"> 
                        <a href="{{ site.linkedin_profile }}" target="_blank" class="mr-1">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="{{ site.github_profile }}" target="_blank" class="mx-1">
                            <i class="fab fa-github-square"></i>
                        </a>
                        <a href="{{ site.twitter_profile }}" target="_blank" class="mx-1">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                        <a href="{{ site.facebook_profile }}" target="_blank" class="mx-1">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="{{ site.instagram_profile }}" target="_blank" class="mx-1">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-none d-lg-block pt-5"></div>