<footer class="page-footer font-small footer-color pt-4">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col mt-md-0 mt-3">
                <h5 class="text-uppercase">{{ site.title }}</h5>
                <p>{{ site.description }}</p>
            </div>
            <div class="col mt-md-0 mt-3 d-flex align-items-center justify-content-center" style="font-size: 3em;">
                <a href="{{ site.linkedin_profile }}" target="_blank" class="mr-1">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="{{ site.github_profile }}" target="_blank" class="mx-1">
                    <i class="fab fa-github-square"></i>
                </a>
                <a href="{{ site.twitter_profile }}" target="_blank" class="mx-1">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a href="{{ site.facebook_profile }}" target="_blank" class="mx-1">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="{{ site.instagram_profile }}" target="_blank" class="mx-1">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="{{ site.url }}"> {{ site.url }}</a>
    </div>
</footer>