<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="row">
    <div class="col-lg-12">
        <div class="art-a art-pagination">
            {% if paginator.page > 1 %}
                <a href="{{ paginator.previous_page_path }}" class="art-link art-color-link art-w-chevron art-left-link"><span>Página anterior</span></a>
            {% else %}
                <a href="#" class="art-link art-color-link art-left-link"><span></span></a>
            {% endif %}
            <div class="art-pagination-center art-m-hidden">
                <a href="#"></a>
                
                {% if paginator.page > 1 %}
                    <a href="{{ paginator.previous_page_path }}">{{ paginator.previous_page }}</a>
                {% endif %}
                
                <a class="art-active-pag" href="#">{{ paginator.page }}</a>
                {% if paginator.next_page <= paginator.total_pages %}
                    <a href="{{ paginator.next_page_path }}">{{ paginator.next_page }}</a>
                {% endif %}
                
                <a href="#"></a>
            </div>
            {% if paginator.next_page <= paginator.total_pages %}
                <a href="{{ paginator.next_page_path }}" class="art-link art-color-link art-w-chevron"><span>Próxima página</span></a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}