---
layout: default
paginate_path: "/blog/page/:num/"
---

{%- if site.posts.size > 0 -%}
    <div class="row">
        <div class="col-12">
            <div class="art-section-title">
                <div class="art-title-frame">
                    <a href="/blog"><h3>Artigos</h3></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for post in paginator.posts %}
        <div class="col-lg-6">
            <!-- blog post card -->
            <div class="art-a art-blog-card">
            <!-- post cover -->
            <a href="{{ post.url | relative_url }}" class="art-port-cover">
                <!-- img -->
                <img src="{{ site.baseurl }}/assets/images/{{ post.title | slugify }}/{{ post.image }}" alt="blog post">
            </a>
            <!-- post cover end -->
            <!-- post description -->
            <div class="art-post-description">
                <!-- title -->
                <a href="{{ post.url | relative_url }}">
                <h5 class="mb-15">{{ post.title | escape }}</h5>
                </a>
                <!-- text -->
                <div class="mb-15">{{ post.excerpt }}</div>
                <!-- link -->
                <a href="{{ post.url | relative_url }}" class="art-link art-color-link art-w-chevron">Ver artigo</a>
            </div>
            <!-- post description end -->
            </div>
            <!-- blog post card end -->

        </div>
        {%- endfor -%}
    </div>
{%- endif -%}

{% include pagination.html %}